In [10]:
import numpy as np
import pandas as pd

df = pd.read_csv('data/athlete_events.csv')

# 1. How old were the youngest male and female participants of the 1996 Olympics?

In [11]:
youngest_male = df[(df['Year'] == 1996) & (df['Sex'] == 'M')]['Age'].min()
youngest_female = df[(df['Year'] == 1996) & (df['Sex'] == 'F')]['Age'].min()
print('The youngest female: ', youngest_female)
print('The youngest male: ', youngest_male)

The youngest female:  11.0
The youngest male:  14.0

# 2. What was the percentage of male gymnasts among all the male participants of the 2000 Olympics? Round the answer to the first decimal.

# 3. What are the mean and standard deviation of height for female basketball players participated in the 2000 Olympics? Round the answer to the first decimal.

In [9]:
df[(df['Sex'] == 'F') & (df['Sport'] == 'Basketball') & (df['Year'] == 2000)].describe()

                  ID         Age      Height      Weight    Year
count     142.000000  142.000000  142.000000  142.000000   142.0
mean    65981.295775   26.690141  182.387324   73.464789  2000.0
std     38666.204358    4.185729    9.139462    9.002491     0.0
min       580.000000   17.000000  162.000000   58.000000  2000.0
25%     33914.250000   24.000000  175.000000   67.000000  2000.0
50%     64471.500000   27.000000  182.000000   73.000000  2000.0
75%     96557.000000   30.000000  190.000000   80.000000  2000.0
max    135105.000000   37.000000  213.000000  100.000000  2000.0

# 4. Find a sportsperson participated in the 2002 Olympics, with the highest weight among other participants of the same Olympics. What sport did he or she do?

In [8]:
max_weight = df[df['Year'] == 2002]['Weight'].max()
df[(df['Weight'] == max_weight) & (df['Year'] == 2002)]['Sport']

99154    Bobsleigh
Name: Sport, dtype: object

# 5. How many times did Pawe Abratkiewicz participate in the Olympics held in different years?

In [7]:
len(df[df['Name'] == 'Pawe Abratkiewicz']['Year'].unique())

3

# 6. How many silver medals in tennis did Australia win at the 2000 Olympics?

In [12]:
df[(df['Team'] == 'Australia') & (df['Medal'] == 'Silver') & (df['Year'] == 2000) & (df['Sport'] == 'Tennis')]['Medal'].count()

2

# 7. Is it true that Switzerland won fewer medals than Serbia at the 2016 Olympics? Do not consider NaN values in _Medal_ column.

In [13]:
switz_medals = df[(df['Team'] == 'Switzerland') & (df['Year'] == 2016) & (df['Medal'].notnull())].count()
serbia_medals = df[(df['Team'] == 'Serbia') & (df['Year'] == 2016) & (df['Medal'].notnull())].count()

switz_medals < serbia_medals

ID        True
Name      True
Sex       True
Age       True
Height    True
Weight    True
Team      True
NOC       True
Games     True
Year      True
Season    True
City      True
Sport     True
Event     True
Medal     True
dtype: bool

# 8. What age category did the fewest and the most participants of the 2014 Olympics belong to?

In [14]:
df[df['Year'] == 2014]['Age'].value_counts()

24.0    420
23.0    396
25.0    395
26.0    384
28.0    376
27.0    363
22.0    361
29.0    282
21.0    280
30.0    242
20.0    206
31.0    201
19.0    142
32.0    142
33.0    135
18.0    130
35.0     82
34.0     74
36.0     70
17.0     58
37.0     30
38.0     25
16.0     24
40.0     18
39.0     14
41.0     14
15.0     10
42.0      6
43.0      3
44.0      3
47.0      1
48.0      1
45.0      1
55.0      1
46.0      1
Name: Age, dtype: int64

# 9. Is it true that there were Summer Olympics held in Lake Placid? Is it true that there were Winter Olympics held in Sankt Moritz?

In [15]:
if (len(df[(df['Season'] == 'Summer') & (df['City'] == 'Lake Placid')])):
    print("True")
else:
    print("False")

if (len([(df['Season'] == 'Winter') & (df['City'] == 'Sankt Moritz')])):
    print("True")
else:
    print("False")

False
True

# 10. What is the absolute difference between the number of unique sports at the 1995 Olympics and 2016 Olympics?

In [16]:
first = df[df['Year'] == 1995]['Sport'].nunique()
second = df[df['Year'] == 2016]['Sport'].nunique()

abs(first - second)

34