<center>
<img src="../../img/ods_stickers.jpg" />
    
## [mlcourse.ai](mlcourse.ai) â€“ Open Machine Learning Course 
Author: Arina Lopukhova (@erynn). Edited by [Yury Kashnitskiy](https://yorko.github.io) (@yorko). This material is subject to the terms and conditions of the [Creative Commons CC BY-NC-SA 4.0](https://creativecommons.org/licenses/by-nc-sa/4.0/) license. Free use is permitted for any non-commercial purpose.

<h1><center>Assignment #1. Fall 2018</center></h1>
<h2><center>Exploratory data analysis of Olympic games with Pandas</center></h2>

__There are ten questions about [120 years of Olympic history: athletes and results](https://www.kaggle.com/heesoo37/120-years-of-olympic-history-athletes-and-results/version/2) dataset in this task. Your task is to fill in the missing Python code and choose answers in [this web-form](https://docs.google.com/forms/d/179HYvlF_0x435CWdu2aOtR9a3flh0YCQXXNXhXaKw2M).__

Download the file `athlete_events.csv` from [Kaggle page](https://www.kaggle.com/heesoo37/120-years-of-olympic-history-athletes-and-results). The dataset has the following features (copied from Kaggle):

- __ID__ - Unique number for each athlete
- __Name__ - Athlete's name
- __Sex__ - M or F
- __Age__ - Integer
- __Height__ - In centimeters
- __Weight__ - In kilograms
- __Team__ - Team name
- __NOC__ - National Olympic Committee 3-letter code
- __Games__ - Year and season
- __Year__ - Integer
- __Season__ - Summer or Winter
- __City__ - Host city
- __Sport__ - Sport
- __Event__ - Event
- __Medal__ - Gold, Silver, Bronze, or NA

In [4]:
import pandas as pd

In [2]:
# Change the path to the dataset file if needed. 
PATH = '../data/athlete_events.csv'

In [5]:
df = pd.read_csv(PATH)
df.head()

,ID,Name,Sex,Age,Height,Weight,Team,NOC,Games,Year,Season,City,Sport,Event,Medal
0,1,A Dijiang,M,24.0,180.0,80.0,China,CHN,1992 Summer,1992,Summer,Barcelona,Basketball,Basketball Men's Basketball,NaN
1,2,A Lamusi,M,23.0,170.0,60.0,China,CHN,2012 Summer,2012,Summer,London,Judo,Judo Men's Extra-Lightweight,NaN
2,3,Gunnar Nielsen Aaby,M,24.0,NaN,NaN,Denmark,DEN,1920 Summer,1920,Summer,Antwerpen,Football,Football Men's Football,NaN
3,4,Edgar Lindenau Aabye,M,34.0,NaN,NaN,Denmark/Sweden,DEN,1900 Summer,1900,Summer,Paris,Tug-Of-War,Tug-Of-War Men's Tug-Of-War,Gold
4,5,Christine Jacoba Aaftink,F,21.0,185.0,82.0,Netherlands,NED,1988 Winter,1988,Winter,Calgary,Speed Skating,Speed Skating Women's 500 metres,NaN

__1. How old were the youngest male and female participants of the 1996 Olympics?__

In [6]:
df[(df['Year'] == 1992) & (df['Age'] ==   df[(df['Sex'] == 'M')&(df['Year'] == 1992)]['Age'].min())]

,ID,Name,Sex,Age,Height,Weight,Team,NOC,Games,Year,Season,City,Sport,Event,Medal
73461,37333,Carlos Bienvenido Front Barrera,M,11.0,NaN,NaN,Spain,ESP,1992 Summer,1992,Summer,Barcelona,Rowing,Rowing Men's Coxed Eights,NaN

__2. What was the percentage of male gymnasts among all the male participants of the 2000 Olympics? Round the answer to the first decimal.__

*Hint:* here and further if needed drop duplicated sportsmen to count only unique ones.

In [8]:
df[(df['Year'] == 2000) & (df['Sport'] == 'Gymnastics') & (df['Sex'] == 'M')].drop_duplicates(subset=['Name','Age'], keep="last").shape[0]/df[(df['Year'] == 2000) & (df['Sex'] == 'M')].drop_duplicates(subset='Name', keep="last").shape[0]*100

1.4750608272506083

__3. What are the mean and standard deviation of height for female basketball players participated in the 2000 Olympics? Round the answer to the first decimal.__

In [12]:
df[(df['Sex'] == 'F') & (df['Sport'] == 'Basketball') & (df['Year'] == 2012)].drop_duplicates(subset=['ID'], keep="last").describe()

                  ID         Age      Height      Weight    Year
count     143.000000  143.000000  143.000000  143.000000   143.0
mean    64159.055944   26.895105  184.006993   75.839161  2012.0
std     41398.482988    3.974768    8.580601    9.989185     0.0
min       683.000000   19.000000  162.000000   52.000000  2012.0
25%     26901.500000   24.000000  178.000000   68.000000  2012.0
50%     57513.000000   27.000000  185.000000   76.000000  2012.0
75%     98007.000000   30.000000  190.000000   82.000000  2012.0
max    135299.000000   37.000000  206.000000  104.000000  2012.0

__4. Find a sportsperson participated in the 2002 Olympics, with the highest weight among other participants of the same Olympics. What sport did he or she do?__

In [10]:
df[(df['Year'] == 1992) & (df['Weight'] == df[df['Year'] == 1992]['Weight'].max())]

,ID,Name,Sex,Age,Height,Weight,Team,NOC,Games,Year,Season,City,Sport,Event,Medal
99154,50171,Emmanuel Hostache,M,26.0,190.0,123.0,France,FRA,2002 Winter,2002,Winter,Salt Lake City,Bobsleigh,Bobsleigh Men's Two,NaN

__5. How many times did Pawe Abratkiewicz participate in the Olympics held in different years?__

In [14]:
df[df['Name'] == 'Pawe Abratkiewicz']

,ID,Name,Sex,Age,Height,Weight,Team,NOC,Games,Year,Season,City,Sport,Event,Medal
997,562,Pawe Abratkiewicz,M,21.0,183.0,84.0,Poland,POL,1992 Winter,1992,Winter,Albertville,Speed Skating,Speed Skating Men's 500 metres,NaN
998,562,Pawe Abratkiewicz,M,21.0,183.0,84.0,Poland,POL,1992 Winter,1992,Winter,Albertville,Speed Skating,"Speed Skating Men's 1,000 metres",NaN
999,562,Pawe Abratkiewicz,M,27.0,183.0,84.0,Poland,POL,1998 Winter,1998,Winter,Nagano,Speed Skating,Speed Skating Men's 500 metres,NaN
1000,562,Pawe Abratkiewicz,M,27.0,183.0,84.0,Poland,POL,1998 Winter,1998,Winter,Nagano,Speed Skating,"Speed Skating Men's 1,000 metres",NaN
1001,562,Pawe Abratkiewicz,M,31.0,183.0,84.0,Poland,POL,2002 Winter,2002,Winter,Salt Lake City,Speed Skating,Speed Skating Men's 500 metres,NaN
1002,562,Pawe Abratkiewicz,M,31.0,183.0,84.0,Poland,POL,2002 Winter,2002,Winter,Salt Lake City,Speed Skating,"Speed Skating Men's 1,000 metres",NaN

__6. How many silver medals in tennis did Australia win at the 2000 Olympics?__

In [15]:
df[(df['Team'] == 'Australia') & (df['Year'] == 1992) & (df['Medal'] == 'Silver') & (df['Sport'] == 'Tennis')]

Empty DataFrame
Columns: [ID, Name, Sex, Age, Height, Weight, Team, NOC, Games, Year, Season, City, Sport, Event, Medal]
Index: []

__7. Is it true that Switzerland won fewer medals than Serbia at the 2016 Olympics? Do not consider NaN values in _Medal_ column.__

In [17]:
df[(df['Team'] == 'Switzerland') & (df['Year'] == 1992) & (df['Medal'].notnull())].shape

(2, 15)

__8. What age category did the fewest and the most participants of the 2014 Olympics belong to?__

In [24]:
df[(df['Age'] >= 55) & (df['Age'] < 65) & (df['Year'] == 1992)].drop_duplicates(subset=['Name','Age'], keep="last").shape

(10, 15)

__9. Is it true that there were Summer Olympics held in Lake Placid? Is it true that there were Winter Olympics held in Sankt Moritz?__

In [27]:
df[(df['Season'] == 'Winter') & (df['City'] == 'Atlanta')]

Empty DataFrame
Columns: [ID, Name, Sex, Age, Height, Weight, Team, NOC, Games, Year, Season, City, Sport, Event, Medal]
Index: []

__10. What is the absolute difference between the number of unique sports at the 1995 Olympics and 2016 Olympics?__

In [31]:
df[df['Year'] == 1994].drop_duplicates(subset='Sport', keep="last").shape

(12, 15)